.formWrapper {
    max-width: auto;
    max-height: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.submitButton {
    text-align: center;
}
